<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All times</title>
</head>
<body>

<h1>All times:</h1>

<div th:unless="${stamps} and ${stamps.isEmpty()}">
    <table border="1">
        <th>Name</th>
        <th>Surname</th>
        <th>Time</th>
        <tr th:each="stamp : ${stamps}" th:object="${stamp}">
            <td th:text="*{name}">stuff</td>
            <td th:text="*{surname}">stuff</td>
            <td th:text="*{time}">stuff</td>
        </tr>
    </table>

</div>
<br>
<a th:href="@{/}">Go back</a>

</body>
</html>
